.task {
    background: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: grab;
    transition: transform 0.2s;
    min-height: 120px;
    height: 120px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.task:hover {
    background-color: #F5C4FF;
}

.taskItemIndex {
    margin: 0;
    font-size: 16px;
}

.taskItemName {
    font-size: 12px;
}

.taskItemEditButton {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.taskItemEditButton:hover svg path {
    fill: #6C0093;
}