.taskboard {
    background-color: #F4E3FF;
    margin: 2% 3%;
    padding: 2%;
    border-radius: 12px;
}

.taskboardBoard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.taskboardColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.taskboardColumnTitle {
    color: #6C0093;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0;
    font-family: 'Almarai', sans-serif;
}

.taskboardColumnList {
    background-color: #FDE1FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 600px;
    border-radius: 8px;
}

.taskboardColumnListEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6C0093;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    height: 100%;
}